html {
  scrollbar-width: none;
  scrollbar-color: #dddee0 transparent;
}

body {
  margin: 0;
  padding: 0;
  /*兼容浏览器版本*/
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 100%;
  overflow: overlay;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background: rgba(144, 147, 153, 0.54);
  cursor: pointer;
  border-radius: 8px;
  position: relative;
  transition: background-color .3s;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
